<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../components.css">
    <link rel="stylesheet" href="style.css">
    <title>Secondary Nav</title>
</head>

<body>
    <div class="secondary-nav">
        <div><span class="nav-item">Sinu Pood</span></div>
        <div><span class="nav-item">Sirvi</span></div>
        <div><span class="nav-item">Punktide Pood</span></div>
        <div><span class="nav-item">Uudised</span></div>
        <div><span class="nav-item">Labor</span></div>
        <div class="search">
            <input type="text" name="search">
        </div>
    </div>
</body>

</html>
