<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../components.css">
    <link rel="stylesheet" href="style.css">
    <title>Aur</title>
</head>

<body>
    <div class="nav">
        <div class="secondary-nav">
            <div class="download-btn">
                <a href="#">paigalda aur</a>
            </div>
            <a href="#">sisene</a>
            <span>keel</span>
        </div>
        <div class="primary-nav">
            <img src="https://steamstore-a.akamaihd.net/public/shared/images/header/globalheader_logo.png?t=962016"
                alt="Steam logo">
            <div class="nav-items">
                <a href="#">pood</a>
                <a href="#">kommun</a>
                <a href="#">meist</a>
                <a href="#">tugi</a>
            </div>
        </div>
    </div>
</body>

</html>
